/*index.htmll*/


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
/*.header{
    min-height: 80vh;
    width: 100%;
    background-image:url('images/home.PNG'); 
    
    background-size:cover;
    background-position: center;
 
    
}*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
     width: 100px;
     margin-left: 0px;
     height: 100px;
     padding: 20px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;


}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    
   
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	display: block;
	margin: auto;
    background:gold;
	transition: 0.5s;
	
}
.nav-links ul li:hover::after{
	width: 100%;
    

}
.text-box{
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;


}
.text-box h1{
    font-size: 55px;

}
.text-box p{
    margin: 10px 0 40px ;
    font-size:19px ;
    color: white;
}
.hero-btn{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    padding: 12px 34px;
    border: 3px solid #fff;
    font-size: 19px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.hero-btn:hover{
    border: 3px solid #f44336;
    background:#f44336 ;
    transition: 1s;
}
nav.fa{
    display: none;
    
}
@media (max-width 700px) {
    .text-box h1{
        font-size: 20px;
    
    }
    .nav-links ul li{
    
       
        display: block;
    }
    .nav-links{
        
        position: absolute;
        background: #f44336;
        top: 0px;
        right: -200px;
        width: 100hv;
        height: 200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*----- training -----*/

.training{
	width: 100%;
	margin: auto;
    text-align: center;
	padding-top: 50px;
	background-color:#fff;
	border-radius: 2vh;
    font-size: 50px;
}
h1{
	font-size: 25px;
	font-weight: 600;
}
p{
	color:#a0522d;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
    
    
}
.row{
	margin-top:5%;
	display: flex;
	justify-content: space-between;
    
}
.training_col{
	flex-basis: 31%;
	background:silver;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    transition: 0.5s;


}
h3{
    font-size: 25px;
}
.training_col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}
@media (max-width 700px) {

    .row{
        flex-direction: column;
    }
}

    /*---campany---*/

    .campany{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
     
       
    }
    .campany-col{
        flex-basis: 32%;
        border-radius: 10px ;
        margin-bottom: 30px;
        position: relative;
        
        
    }
    .campany-col img{
        width: 200px;
        padding: 20px;
        height: 200px;
        display: block;
    
    }

    .layer{
        background:transparent;
        position: absolute;
        width: 250px;
        height: 250px;
        top: 0;
        left: 0;
        transition: 00.5s;
       
       
    }
    
    
    .layer:hover{
        background:rgba(0,0,0,0.7);
    }
    .layer h3{
        width: 100%;
        font-weight: 500;
        position: absolute;
        left: 50%;
        font-size: 26PX;
        bottom: 0;
        color: #FFF;
        transform: translate(-50%);
        transition: 0.5S;
        opacity: 0;
    }
    .layer:hover h3{
        opacity: 1;
        bottom: 49%;
    }
    .footer{
        text-align: center;
        background: coral;
        font-size:  30px;   
         margin-bottom: 0px; 
         padding: 40px;}




        /* location.html*/

        .header2{
            background:darkgray;
        }
       
        
/*about us  form*/


.col-4{
    padding: 30px;
    flex-basis: 31%;
	background:gray;
	border-radius: 10px;
	margin-bottom: 10%;
    margin-top: -10%;
	padding: 50px 50px;
    position: cover;
	
    margin-left: 30px;
    margin-right: 60px;
    transition: 0.5s;
    justify-items: space between;
}
.col-4 img:hover{
    
}
marquee{
    color:yellow;
  }     

  